.profile-img {
  height: 60px;
  width: 60px;
  border-radius: 60%;
}

.btn {
  width: 10%;
}

.navbar-expand-lg {
  border: 1px solid #c2814d;
  border-radius: 5px;
}

.btn-outline-success {
  width: 30%;
}

.form-inline {
  width: 26%;
}
