/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    padding: 10px;
    background-color: #fbe8a6;
}

.home-logo{
    height: 50px;
    width: 50px;
    border: 4px solid whitesmoke;
    color: #fbe8a6;
    background-color: #c2814d;
    border-radius: 50%;
    text-align: center;
    margin: 20px auto;
    padding-top: 10px;
    background-image: linear-gradient(45deg, #c2814d 50%, #f4976c 50%);
}

.container{
    width: 40%;
    margin: auto;
    margin-top: 10%;
    padding: 10px;
    border: 1px solid #f4976c;
    box-shadow: 5px 5px 1px 1px #f4976c;
    border-radius: 15px;
}

.pointer{
    cursor: pointer;
}

.form-control.ng-touched.ng-invalid{
    border: 1px solid rgb(255, 102, 0);
}

.btn{
    width: 100%;
    margin: 5px;
    border-radius: 10px;
}

.button-light{
    background-color:#fbe8a6;
    color:  #f4976c;
    border: #f4976c 1px solid;
}

.button-dark{
    background-color: #f4976c;
    color: #fbe8a6;
}

.button-container{
    border: 1px solid #f4976c;
    box-shadow: 1px 1px 2px #f4976c;
    border-radius: 15px;
}