.display-1 {
  font-size: 38px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #656565;
}

.display-2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #656565;
  font-size: medium;
  display: inline-block;
}

.text-width {
  width: 65%;
}

.display-box {
  padding: 2%;
  margin: 10% 17.5%;
  width: 30%;
  box-shadow: 3px 3px 10px #ececec;
  border-radius: 5px 5px 0px 0px;
  background-color: rgba(227, 233, 238, 0.5);
  height: 40%;
  border: 1px solid rgba(179, 179, 179, 0.5);
  border-bottom: none;
}
